@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Noto Sans";
    src: url("/public/fonts/NotoSans-Regular.ttf") format("truetype");
    font-style: normal;
  }
  @font-face {
    font-family: "Noto Serif";
    src: url("/public/fonts/NotoSerif-Regular.ttf") format("truetype");
    font-style: normal;
  }
}
