---
const { title, class: className } = Astro.props;
---

<section class={`w-full py-3 mx-auto px-5 font-belleza ${className}`}>
  {
    title && (
      <h2 class="text-2xl font-bold font-lato mb-4 leading-6 w-full text-black">
        {title}
      </h2>
    )
  }
  <slot />
</section>
