---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="" href="">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
			font-family: 'Noto Sans';
			src: url('../assets/fonts/NotoSans-Regular.ttf') format('truetype');
			font-style: normal;
		}
		@font-face {
			font-family: 'Noto Sans Italic';
			src: url('../assets/fonts/NotoSans-Italic.ttf') format('truetype');
			font-style: italic;
		}
		@font-face {
			font-family: 'Noto Serif';
			src: url('../assets/fonts/NotoSerif-Regular.ttf') format('truetype');
			font-style: normal;
		}
		@font-face {
			font-family: 'Noto Serif Italic';
			src: url('../assets/fonts/Noto-Serif-Italic.ttf') format('truetype');
			font-style: italic;
		}
	:root {
		--sans-font: 'Noto Sans', sans-serif;
		--sans-font-italic: 'Noto Sans Italic', sans-serif;
		--serif-font: 'Noto Serif', serif;
		--serif-font-italic: 'Noto Sans Italic', sans-serif;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
